body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color:  #8a99b5;
  border-bottom: 1px solid #ddd;
}

.header-logo {
  height: 50px;
}

.header-nav {
  display: flex;
  gap: 15px;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #007BFF;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  background: #8a99b5ba;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-10px);
}

.card-img {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.5rem;
  margin: 10px;
}

.card-description {
  margin: 10px;
  color: #555;
}

.card-price {
  margin: 10px;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #8a99b5;
}

.card-footer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.card-footer .creator-name {
  font-weight: bold;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #8a99b5;
}

footer p {
  margin: 0;
}

@media (max-width: 768px) {
  .header {
      flex-direction: column;
      align-items: flex-start;
  }

  .header-nav {
      flex-direction: column;
      gap: 10px;
  }
}
